<app-timer #timer [architectureType] ="architectureType"></app-timer>
<app-page-title [title]="title"> </app-page-title>


<app-search-bar (onSearch)="search($event)"></app-search-bar>
<div class="scroll-container">
    <div  class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
    [scrollWindow]="false" style="height: 800px; overflow-y: scroll;"> 
    
    <div *ngFor="let artist of allArtists">
            <app-artist-panel [artist]="artist"></app-artist-panel>
    </div>

    </div>
</div>