

    <button (click)="stop()">STOP</button>

<div class="page-container flex-row">


    <div class="left-side">

        <app-timer #monolithTimer [architectureType] ="'Monolith'"></app-timer>

        <app-page-title [title]="title"> </app-page-title>

        <app-loader></app-loader>



    </div >

    <app-page-divider></app-page-divider>

    <div class="right-side">

        <app-timer #microservicesTimer [architectureType] ="'Microservices'"></app-timer>

        <app-page-title [title]="title"> </app-page-title>

        <app-loader></app-loader>

    </div >

</div>
