$color-library-odd-row-table:#21755e;
$color-library-even-row-table:#024f3a;

$pink-light: #edf5f3;
$pink-dark: #232a40;

$grey-light:#adb8b8;
$grey-normal: #8c898b;
$grey-dark:  #36312f;

$color-library-header-row:$grey-dark;


$color-friends-odd-row-table:#e4ebb7;
$color-friends-even-row-table:#dbe695;

$color-follow-friend-button: #826294;
$color-remove-friend-button:#612330;


$color-add-to-palylist-button: #6267cc;
$color-remove-from-playlist-button:#4d5c4c;