@import './../../../../../assets/css/shared/variables.scss';

.scroll-container{
    margin:20px;
}


.recommended-container{
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    display:flex;
    flex-direction: row;
    widows: 100%;
}

span{
    font-size:18px;
    justify-self: center;
    margin-left: 40px;
    margin-top: 16px;
    font-weight: 500;

}

img{
    height:100px;
    width:100px;
    border-radius: 50px;
}

.add-button{
    background-color: $color-add-to-palylist-button;
    color:white;
    height:38px;
}

.remove-button{
    background-color: $color-remove-from-playlist-button;
    color:white;
    height:38px;
}


.button{
    flex:2;
}
.album-container{

   flex:2;

    img{
        height:50px;
        width:50px;
        border-radius: 50px;
    }

    span{
        font-size:18px;
        margin-left:0px;
    }

}


.song-name{
   flex:3;
}


.song-artist{
    flex:5;

}


.song-container{
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

mat-card{
    width: 100%;
    border: 1px solid black;
    background-color: #c5c9bf;
}

::ng-deep .mat-card{
    padding:8px !important; 
}