<app-timer #timer [architectureType] ="architectureType"></app-timer>
<app-page-title [title]="title"> </app-page-title>

<div class="scroll-container">
    <div  class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
    [scrollWindow]="false" style="height: 800px; overflow-y: scroll;"> 
    
    <div *ngFor="let song of allRecommendedSongs">
        
        <div class="recommended-container">
            <!-- <img src={{newsItem.urlPicture}}> -->
            
            <mat-card>

                <div class="song-container flex-row">

                    <div>
                        <span>{{song.name}}</span>
                    </div>

                    <div>
                        <span>{{song.artist}}</span>
                    </div>
                
                    <div class="album-container flex-column" >
                        <img src={{song.albumUrlPicture}}>
                            <span>{{song.album}}</span>
                    </div>

                    <button mat-flat-button class="button" (click)="onBtnClicked(song.id, song.isInLibrary)"
                    [ngClass]="{'add-button': !song.isInLibrary, 'remove-button': song.isInLibrary}">
                        {{song.isInLibrary ? 'Remove from Library' : 'Add to Library'}}
                    </button>
            </div>
        </mat-card>
        </div>

    </div>

    </div>
</div>


