<app-timer #timer [architectureType] ="architectureType"></app-timer>
<app-page-title [title]="title"> </app-page-title>

<div class="scroll-container">
    <div  class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  
    [scrollWindow]="false" style="height: 800px; overflow-y: scroll;"> 
    
    <div *ngFor="let newsItem of allNews">
        
        <div class="news-container">
            <img src={{newsItem.urlPicture}}>
            <span>{{newsItem.description}}</span>
        </div>

    </div>

    </div>
</div>



